<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="CompanyNexus" value="https://repo-man.Company.com/nexus/repository/ae-dotnet-internal-group/" />
    <add key="Package source" value="C:\Source\packages" />
  </packageSources>
</configuration>
