@inherits LayoutComponentBase
@using Blazor.RCL.UIComponents.Components
@using MudBlazor
@attribute [AllowAnonymous]

<div class="main-layout-container">
@* Loading Indicator *@
@if (_isLoading)
{
    <MudProgressCircular Indeterminate="true" Size="Size.Large" Class="mud-theme-primary mx-auto d-block mt-5" />
}
else
{
    @* Help System Wrapper *@
    <HelpSystem HelpDocument="@_helpDocumentInfo">
        @* Main Layout *@
        <MudLayout Class="main-layout">
            @* Help Button in top-right corner *@
            <div class="help-button-wrapper">
                <HelpButton 
                    Color="Color.Info" 
                    Icon="@Icons.Material.Rounded.LiveHelp" 
                    Size="Size.Medium"
                    Title="View Help Documentation" 
                    AriaLabel="Open application help and documentation" 
                    ShowLabel="false"
                    Class="public-layout-help-button" />
            </div>

            @* Main Content Area *@
            <MudMainContent Class="main-content">
                @Body
            </MudMainContent>
        </MudLayout>
    </HelpSystem>

    @* MudBlazor Providers *@
    <MudThemeProvider Theme="@(_themeService?.CurrentTheme)" />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudPopoverProvider />
}
</div>